# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/
examples/

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/
.coverage htmlcov/

# Application
data
data/*.sqlite
data/*.sqlite3
data/*.db
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# EasyOCR / model cache
.easyocr/